* {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

h1, h2 {
  line-height: 1.125;
}

a {
  display: block;
}

.flex {
  display: flex;
}

.clock {
  fill: none;
  stroke: black;
  stroke-width: 12px;
  
  &-time {
   font: 700 24px sans-serif;
  }

  &-distance {
    font: 500 12px sans-serif;
  }
  
  &-line {
    fill: none;
    stroke-width: 4px;
    stroke: lightgrey;
    stroke-dasharray: 5;

    &-small {
      stroke-dasharray: 10;
      stroke-width: 2px;
    }
  }
  
  &-center {
    fill: black;
    stroke: none;
  }
}

.hot-spot {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font: 700 24px sans-serif;
  color: white;
  text-align: center;
  /* https://css-tricks.com/almanac/properties/o/overflow-wrap/ */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.dot {
  &-has-time {
    fill: black;
  }
  
  &-has-no-time {
    fill: darkgrey;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

.toaster {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  font-weight: bold;
  font-family: sans-serif;
  padding: 0.5em;
  color: white;
  
  &:not(&-shown) {
    display: none;
  }

  ul {
    padding: 1em;
    line-height: 1.5;
  }
}

form {
  display: inline;
}

label {
  &:not(.inline) {
    display: block;
  }
}

.legend {
  margin: 0;
  line-height: 1.5;
}

.legend-dot {
  transform: translateY(15%);
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  color: transparent;
  overflow: hidden;

  &.dot-black {
    background-color: black;
  }

  &.dot-grey {
    background-color: darkgray;
  }
}
